body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.form-group {
  margin-top: 1rem;
}

div.form-group label {
  display: inline-block;
  width: 8rem;
}

div.form-group a {
  margin-left: 1rem;
}

form div.errors p.messages {
  color: #ff0000;
}
