<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/password/send" method="post">
      <div class="errors">
        <% for (let error of errors) { %>
          <p class="messages"><%- error.msg %></p>
        <% } %>
      </div>
      <div class="form-group">
        <label for="email">メールアドレス</label>
        <input id="email" type="email" name="email" />
      </div>
      <div class="form-group">
        <button type="submit">パスワードリセット用のメールを送信する</button>
        <a href="/login">ログインへ</a>
      </div>
    </form>
  </body>
</html>
