<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
      <% for (let user of users) { %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </body>
</html>
